.div_album {
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 0.5rem;
    background-color: black;
}

/* CSS PARTE DA JÚLIA*/

body {
    background-color: #A9D6E5;
}

#divlogin {
    margin-top: 6%;
    float: left;
    margin-left: 15%;
}

.imgforms {
    float: right;
    margin-top: 2.5%;
    margin-right: 15%;
}

h1 {
    color: #003366;
}

h4 {
    text-align: center;
    color: #003366;
}
