/* página home */
.foto {
    height: 6rem;
    width: 10rem;
}

.card-text {
    text-align: center;
}

.div_album {
    background-color: #75594333;
    position: relative;
    height: fit-content;
    width: 97rem;
    border-radius: 7px;
    border-width: 1px;
    border-color: black;
    border: solid;
    float: left;
    padding-bottom: 1rem;
}

.nav {
    float: right;
}

.card {
    /* padding: 1rem; */
    height: 15.7rem;
    width: 10.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 1rem;
    border-color: #000000;
    border-width: 0.5rem;
    background-color: #d6d6d6c0;
}

.figurinhas_sweep .repetidas{
    height: 15.7rem;
    width: 10.5rem;
    position: relative;
    margin: auto;
}

.outros {
    float: right;
    width: 19.5rem;
    height: 58.5rem;
}

.pacote{
    margin: auto;
}

.pacotes_figurinhas {
    width: 19.5rem;
}

.div {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
}

/* CSS PARTE DA JÚLIA*/

body {
    background-color: #93caf6;
}

#divlogin {
    margin-top: 6%;
    float: left;
    margin-left: 15%;
}

.imgforms {
    float: right;
    margin-top: 2.5%;
    margin-right: 15%;
}

h1 {
    color: #003366;
}

h4 {
    text-align: center;
    color: #003366;
}

#div_criarfig {
    background-color: transparent;
}

#div_listagem {
    margin-right: 10%;
}

#btncriarfig {
    margin-top: 10%;
}
